*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html{
    font-size: 10px;
    --cor-bg-laranja-escuro: #BD532B;
    --cor-bg-bege-intenso: #CFBE89;
    --cor-bg-bege-claro: #D6C9A1;
    --cor-bg-verde-cringe: #39AF9A;
  
}

body{
    height: 100vh;
}

/* Menu */

.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem;
    background-color: var(--cor-bg-laranja-escuro);
    color: var(--cor-bg-bege-claro);
    width: 100%;
    height: 10vh;
    
}

.menu h2{
    font-family: 'Monoton', cursive;
}

ul{
    display: flex;
    justify-content: center;
    align-items: center;
       
}

li{
    padding: 0 0.5rem;
    cursor: pointer;
}
main{
    background-color: var(--cor-bg-bege-claro);
    height: 80vh;
}
/* Titulo */
.titulo{
    margin: 0 auto;
    text-align: center;
}

h1{
    color: var(--cor-bg-verde-cringe);
    font-family: 'Monoton', cursive;
    font-size: 4rem;
    
}

h3{
    color: var(--cor-bg-bege-claro);
    background-color: var(--cor-bg-laranja-escuro);
    font-size: 1.5rem;
}


/* form */

.form{
    padding: 2rem;
    margin: 1rem;
    align-items: center;
  
}



label{
    font-family: 'Monoton', cursive;
}

p{
    padding: 1rem 0;
    
}


.inputs-radius{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;    
}

.btn{
    margin: 1rem 0 ;
    display: flex;
    justify-content: center;
    
}

.card{
display: flex;
justify-content: center;
}

img{
    height: 20rem;
    width: 20rem;
    border-radius: 00.5rem;
    border: double;
    border-color: var(--cor-bg-laranja-escuro);

}

footer{
    background-color: var(--cor-bg-laranja-escuro);
    height: 10vh;
    font-size: 2rem;
    text-align: center;
}

